@model OpenTraderSunFixes.Model.ViewModel.ExternalServiceItems.ExternalServiceScriptViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

@Styles.Render("~/Content/bootstrap.css")
@Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/Scripts/jquery.validate.js")
@Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
@Scripts.Render("~/Scripts/jQuery/externalservice.js")
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    Things Remaining : 
    iMarketResponseType

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
    
        <fieldset>
            <legend>ExternalServiceScriptViewModel</legend>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.SchemeId)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.SchemeId)
                <label>Scheme Name : </label>
                <label id="schemeplaceholder" style="color:red;"></label>
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.ExternalServiceTypes)
            </div>



            <table class="table">
                <tr>
                    <th>@Html.LabelFor(model => model.ExternalServiceTypes)</th>
                    <th>@Html.LabelFor(model => model.ExternalServiceNames)</th>


                    <th>@Html.LabelFor(model => model.Description)</th>
                    <th>@Html.LabelFor(model => model.URL)</th>
                    <th>@Html.LabelFor(model => model.SoapAction)</th>
                    <th>@Html.LabelFor(model => model.RequestTransforms)</th>
                    <th>@Html.LabelFor(model => model.ResponseTransforms)</th>
                    <th>@Html.LabelFor(model => model.TransformConfigs)</th>

                </tr>
                
                
                @{int i = 0; }
                @foreach (var item in Model.ExternalStypes)
                {
                <tr>
                    <td>
                        <input type="checkbox"
                               style="display: inline-block"
                               name=@Html.Raw("ExternalServiceTypes[" + @i + "]")
                               value=@item.Value />
                        <label style="display: inline-block">@item.Text</label>
                        </td>
                        
                    <td>
                        @Html.TextBox("ExternalServiceNames[" + @i + "]", "", new { @style = "display:inline-block", placeholder = "Service Name for " + @item.Text })
                    </td>
                    <td>
                        @Html.TextBox("Description[" + @i + "]", "", new { @style = "display:inline-block", placeholder = "Description for " + @item.Text })
                    </td>
                    <td>
                        @Html.TextBox("URL[" + @i + "]", "", new { @style = "display:inline-block", placeholder = "Ext Service Url for " + @item.Text })
                    </td>
                    <td>
                        @Html.TextBox("SoapAction[" + @i + "]", "", new { @style = "display:inline-block", placeholder = "SOAP Action for " + @item.Text })
                    </td>
                    <td>
                        @Html.TextBox("RequestTransforms[" + @i + "]", "", new { @style = "display:inline-block", placeholder = "Request Transform for " + @item.Text })
                    </td>
                    <td>
                        @Html.TextBox("ResponseTransforms[" + @i + "]", "", new { @style = "display:inline-block", placeholder = "Response Transform for " + @item.Text })
                    </td>
                    <td>
                        @Html.TextBox("TransformConfigs[" + @i + "]", "", new { @style = "display:inline-block", placeholder = "Transform Config for " + @item.Text })
                    </td>
                        @{i++;
                        }
            </tr>
            }
            </table>

            @Html.HiddenFor(model => model.ExternalStypes)
    
            <div id="ratingengineplaceholder">

            </div>

            <p>
                <input type="submit" value="Create" />
            </p>
        </fieldset>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
